@import 'common';


.header {
    font-size: 30px;
}

.questions {
    background-color: antiquewhite;
}

.question-block {
    display: flex;
    background-color: $color2;
}

.question-caption {
    padding: 5px;
}

.question-text {
    padding: 10px;
}

.answers {
    display: flex;
    flex-direction: column;
    background-color: $color3;
    padding-left: 10px;
}

.answer {
    background-color: $color3;
    padding: 5px;
}