@import 'common';

.top {
    z-index: 1;
    background-color: $color3;
    min-height: 710px;

    &__headers {
        position: absolute;

        z-index: 3;
        padding-top: 196px;
        max-width: 770px;
        padding-left: 120px;
        padding-right: 40px;
        align-content: center;
    }

    &__main-header {
        margin-bottom: 24px;
    }
}

.headers__button {
    margin-top: 48px;
    background-color: black;
    margin-bottom: 100px;
}

.star-block {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 710px;
    overflow: hidden;
}

.star-block-mob {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 357px;
    height: 710px;
    overflow: hidden;
}

.smallStar {
    overflow: hidden;
    position: absolute;
    top: -90px;
    right: -95px;
}

.content-stars {
    background-image: url(./img/BlackStar1.svg), url(./img/BlackStar2.svg), url(./img/BlackStar3.svg), url(./img/BlackStar2.svg), url(./img/BlackStar3.svg), url(./img/BlackStar2.svg), url(./img/BlackStar3.svg);
    background-position: 998px 73px, 50px 862px, 30px 809px, 1336px 1636px, 1282px 1600px, 1349px 4950px, 1281px 4900px;
    background-repeat: no-repeat;
}

$starBaseX : 00px;
$starBaseY : -00px;

.bigStar {
    overflow: hidden;
    position: absolute;
    top: -360px;
    left: calc(100% - 605px);
}

.mainHeader {
    padding-bottom: 24px;
}

.light01 {
    position: absolute;
    left: calc($starBaseX - 170px);
    top: calc($starBaseY + 250px);
}

.light02 {
    position: absolute;
    left: calc($starBaseX + 10px);
    top: calc($starBaseY + 520px);
}

.light03 {
    position: absolute;
    left: calc($starBaseX + 150px);
    top: calc($starBaseY + 640px);
}

.menu-line {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: nowrap;
    background-color: $color2;
    padding: 20px;
    bottom: unset;
    max-width: 100vw;
    white-space: nowrap;
    overflow: hidden;

    &-item {
        color: $color1;
        font-family: $font-family;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
        text-wrap: nowrap;
    }

    &-item::after {
        content: "___";
        color: transparent;
        background-image: url("./img/BlackStar.svg");
        background-repeat: no-repeat;
        margin-left: 20px;
    }
}

.content {
    background-color: $color1;
}

.about-games {
    padding-top: 94px;

    &__header1 {
        color: $color4;
        font-family: $font-family;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__header2 {
        color: $color4;
        margin-top: 24px;
        font-family: $font-family;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.about-game__mobile {
    display: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 48px;
}

$baseWidth: 1200px;

.center {
    padding-left: calc(50% - $baseWidth/2);
    padding-right: calc(50% - $baseWidth/2);
}

.game-kinds {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 32px;
}

.game-kind-ref:hover {
    transform: scale(1.1);
    transition: all;
    border: red 1 solid;
}

.game-kind-column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.game-name {
    color: $color1;
    font-family: $font-family;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    padding: 48px 48px 0px 48px;
}

.game-description {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding: 24px 48px 36px 48px;

}

.game-kind {
    display: flex;
    flex-direction: column;
    background-color: $color4;
    width: 378px;
    border-radius: $border-radius;

    &__logo {
        border-radius: $border-radius;
    }

    &__number {
        /* Frame 2043683020 */
        position: static;
        width: 111px;
        height: 36px;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 16px 10px 16px;
        height: 36px;
        width: 76px;
        margin-left: 32px;
        margin-top: 32px;
        border-radius: $button-border-radius;
        background-color: rgb(247, 247, 247);
    }

    &__name {
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 32px;
    }
}

.footer {
    height: 150px;
    background: rgb(189, 237, 53);
    text-align: center;
    justify-content: center;
    align-content: center;

    color: $color1;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
}

.mini-game {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 46px;
    padding-bottom: 72px;
}


.games {
    background-color: transparent;
    gap: 32px;
    padding-bottom: 140px;
}

.game-base {
    display: flex;
    flex-direction: row;
    //    width: 1200px;
    //height: 500px;
    background-color: $color4;
    margin-bottom: 32px;
    border-radius: 47px;

}

.game-left {
    @extend .game-base;
    flex-direction: row-reverse;
}

.game-right {
    @extend .game-base;
}

.game-info {
    flex-basis: 50%;
    flex-grow: 1;
}

.game-logo {
    flex-basis: 50%;
    height: auto;
    flex-grow: 1;
}

.play-game {
    @extend .button;
    background-color: black;
    margin-left: 40px;
}

@media screen {}

/* форматирования для планшета*/
/*#region table-version*/

@media ((max-width: $mainWidth) and (min-width:calc($mainWidthPlan + 1px))) {
    .game-name {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
    }

    .game-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
}

/* форматирования для мобильного устройства*/
/*#region mobile-version */
@media (max-width: $mainWidthPlan) {

    .star-block {
        display: none;
    }


    .text1 {
        padding-bottom: 0px;
    }

    .star-block-mob {
        display: block;
    }

    .top__headers {
        padding-top: 147px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .center {
        padding-left: 5px;
        padding-right: 5px;
    }

    .headers__button {
        width: 100%;
    }

    .about-game__mobile {
        display: block;
    }

    .about-games__header1 {
        display: none;
    }

    .about-games__header2 {
        display: none;
    }

    .game-name {
        padding: 0px;
    }

    .game-description {
        padding-left: 0px;
        padding-right: 0px;
    }

    .game-left {
        @extend .game-base;
        flex-direction: column;
    }

    .game-right {
        @extend .game-base;
        flex-direction: column;
    }

    .game-info {
        padding: 30px;

    }

    .play-game {
        width: 100%;
        margin-left: 0px;
    }

    .game-kinds {
        display: none;
    }

    .game-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 32px;
    }

    .about-games {
        padding-top: 48px;
    }

    .headers__button {
        margin-top: 0px;
        background-color: black;
        margin-bottom: 90px;
    }

    .menu-line {
        display: block;
    }

    h1 {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: center;
    }

    .games {
        padding-bottom: 40px;
    }

    .text1 {
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .footer {
        height: 100px;
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
    }

    .mini-game {
        display: none;
    }

}