* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

h2 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}

h3 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.text1 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text2 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text3 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.button, .play-game {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  height: 66px;
  width: 247px;
}

.button:hover, .play-game:hover {
  color: rgb(32, 32, 39);
  background-color: rgb(255, 255, 255);
}

.block-view01 {
  border: 1px red solid;
}

.block-view02 {
  border: 1px blue solid;
}

.top {
  z-index: 1;
  background-color: rgb(225, 255, 143);
  height: 800px;
}
.top__headers {
  z-index: 3;
  margin-left: 8.3vw;
  /*padding-left: 120px;*/
  padding-top: 196px;
  max-width: 770px;
}
.top__main-header {
  margin-bottom: 24px;
}

.star-block {
  position: absolute;
  z-index: 2;
  right: 1vw;
  top: 0;
  width: 400px;
  height: 300px;
}

.bigStar {
  position: absolute;
  width: 749.55px;
  height: 791.06px;
  left: 20px;
  top: -280px;
}

.light01 {
  position: absolute;
  left: -150px;
  top: -30px;
}

.light02 {
  position: absolute;
  left: 30px;
  top: 240px;
}

.light03 {
  position: absolute;
  left: 170px;
  top: 360px;
}

.menu-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(188, 236, 48);
  padding: 20px;
  bottom: unset;
  max-width: 100vw;
}
.menu-line-item {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  padding-right: 50px;
  text-wrap: nowrap;
}
.menu-line-item::after {
  content: "___";
  color: transparent;
  background-image: url("./img/BlackStar.svg");
  background-repeat: no-repeat;
  margin-left: 20px;
}

.content {
  background-color: rgb(32, 32, 39);
}

.about-games {
  padding-top: 94px;
}
.about-games__header1 {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.about-games__header2 {
  color: rgb(255, 255, 255);
  margin-top: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.game-kinds {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 32px;
}

.game-kind-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game-name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.game-description {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 36px;
}

.game-kind {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 378px;
  border-radius: 30px;
}
.game-kind__logo {
  border-radius: 30px;
}
.game-kind__number {
  /* Frame 2043683020 */
  position: static;
  width: 111px;
  height: 36px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  height: 36px;
  width: 76px;
  margin-left: 32px;
  margin-top: 32px;
  border-radius: 60px;
  background-color: rgb(247, 247, 247);
}
.game-kind__name {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  text-align: center;
  justify-content: center;
  align-content: center;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}

.games {
  background-color: rgb(32, 32, 39);
  gap: 32px;
  padding-bottom: 140px;
}

.game-base, .game-right, .game-left {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 32px;
}

.game-info {
  padding: 48px;
  width: 50%;
}

.game-logo {
  width: 50%;
  height: auto;
}

.play-game {
  background-color: black;
}/*# sourceMappingURL=style.css.map */